<div class="modal-header">
    <h3><div mathjax-bind="node.title"></div></h3>
</div>
<div class="modal-body">
    <!-- <div ng-bind-html="node.statement | markdown"></div> -->
    <div mathjax-bind="node.statement"></div>
    <hr />
    <p> Published at {{node.pub_time | date}} </p>
    <hr />
    <label> Keywords: </label>
    <span>
        <a 
            class="label label-default" 
            ng-repeat="kw in keywords"
            href="/prooftree/#/?search={{ kw.word }}">
            {{kw.word}}
        </a> 
    </span>
<!--     <pre>{{ node | json }}
{{ keywords | json }}
{{ parents | json }}
{{ children | json }}</pre> -->
</div>