<div>
  <svg ng-attr-width="{{width}}"
       ng-attr-height="{{height}}">
    <defs>
      <marker 
        id="markerArrow"
        class="arrow" 
        markerWidth="13" 
        markerHeight="13" 
        refx="12" refy="6"
        orient="auto">
        <path 
          class="arrow-path" 
          d="M2,2 L2,11 L10,6 L2,2" />
      </marker>
    </defs>
    <line   
      ng-repeat="link in graph.arrows"
      class="link"
      style="marker-end: url(#markerArrow);"
      ng-attr-stroke-width="{{link.strokeWidth}}"
      ng-attr-x1="{{link.source.x}}"
      ng-attr-y1="{{link.source.y - 30}}"
      ng-attr-x2="{{link.target.x}}"
      ng-attr-y2="{{link.target.y}}">
    </line>
    <g 
      ng-repeat="node in graph.vertices"
      ng-click="showDetail(node.node_id)"
      ng-attr-transform="translate({{node.x}} {{node.y}})">
      <rect
        class="node"
        rx="5"
        ry="5"
        width="180"
        height="30"
        ng-attr-fill="{{node.color}}"
        ng-attr-opacity="{{graph.opacity(node)}}"
        ng-attr-x="{{-90}}"
        ng-attr-y="{{-30}}"
        >
        <title>{{node.title}}</title>
      </rect>
      <text
        style="text-anchor: middle;"
        font-family="Arial"
        font-size="18"
        fill="white"
        ng-attr-opacity="{{graph.opacity(node)}}"
        ng-attr-x="{{0}}"
        ng-attr-y="{{6 - 15}}"
        >
        {{node.title | ellipsis: 20}}
      </text>
    </g>
  </svg>
</div>