
<h1> Welcome to Social Math </h1>

<div class="form-group">
  <form ng-submit="searchSubmit(keywords)">
    <div class="input-group">
      <input 
        class="form-control" 
        type="text" 
        name="searchtext" 
        ng-model="keywords" 
        id="searchtext" />
      <span class="input-group-btn">
        <input class="btn btn-primary" type="submit" value="Search" />
      </span>
    </div>
  </form>
</div>

<div 
  class="panel panel-primary"
  collapse="!searchResult">
  <div 
    class="panel-heading"
    ng-click="hideSearch = !hideSearch">
    Search Results ({{searchNodes.length}} found)
    <span class="pull-right" chevron-icon="!hideSearch"></span>
  </div>
  <div collapse="hideSearch">
    <div class="panel-body">
      {{searchResult | json}}
    </div>
  </div>
  <div class="list-group" ng-show="searchNodes" collapse="hideSearch">
    <div 
      ng-repeat="node in searchNodes"
      class="list-group-item list-group-item-default">
      <span class="btn-group" style="margin-right:10px;">
        <a 
          class="btn btn-default"
          ng-click="showDetail(node.node_id); $event.preventDefault()"
          href="/prooftree/get/detail/{{ node.node_id }}/">
          <span>
            <span class="glyphicon glyphicon-list-alt"></span>
          </span>
        </a>
        <a 
          class="btn btn-default"
          href="">
          <span>
            <span class="glyphicon glyphicon-tree-conifer"></span>
          </span>
        </a>
      </span>
      <span><a href="/prooftree/get/one/{{ node.node_id }}/">{{ node.title }}</a></span>
    </div>
  </div>
</div>

<div 
  class="panel panel-primary">
  <div 
    class="panel-heading"
    ng-click="hideLatest = !hideLatest">
    Latest Submissions
    <span class="pull-right" chevron-icon="!hideLatest"></span>
  </div>
  <div collapse="hideLatest">
    <div class="panel-body" ng-hide="latest">
      <alert type="'info'">
        No recent works
      </alert>
    </div>
  </div>
  <div class="list-group" ng-show="latest" collapse="hideLatest">
    <div 
      ng-repeat="node in latest"
      class="list-group-item list-group-item-default">
      <span class="btn-group" style="margin-right:10px;">
        <a 
          class="btn btn-default"
          ng-click="showDetail(node.node_id); $event.preventDefault()"
          href="/prooftree/get/detail/{{ node.node_id }}/">
          <span>
            <span class="glyphicon glyphicon-eye-open"></span>
          </span>
        </a>
        <a 
          class="btn btn-default"
          href="">
          <span>
            <span class="glyphicon glyphicon-tree-conifer"></span>
          </span>
        </a>
      </span>
      <span><a href="/prooftree/get/one/{{ node.node_id }}/">{{ node.title }}</a></span>
    </div>
<!--     <a 
      class="list-group-item list-group-item-info"
      href="#"> 
      Show more
    </a> -->
  </div>
</div>

<div class="form-group">
<a type="button" class="btn btn-primary" href="/prooftree/add/1/">
  New Theorem
</a>
</div>
<div class="form-group">
<a type="button" class="btn btn-primary" href="/prooftree/add/2/">
  New Proof
</a>
</div>