{% extends "base.html" %}
{% block extra_head %}
<style>
  body {
    margin: 18px;
    padding: 0;
    color: #000000;

    font:1.3em "lucida grande","lucida sans unicode";   
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
  }
</style>

<title>SocialMath Submitting New Theorem</title>
{% endblock extra_head %}

{% block content %}
<h2>Add New Theorem</h2>
<p>
  You may enter your article content in the text box provided below, or you may upload your pdf
  or tex file using the upload file button. Note that you file should not exceed 4MB in size.
  If you wish to add a new article, <a href="/prooftree/add/2/">add a proof here</a>.
</p>
{% if graph %}
<form action="/prooftree/submit_theorem/{{graph.pgraph_id}}/" method="post">
{% else %}
<form action="/prooftree/submit_theorem/" method="post">
{% endif %}
  {% csrf_token %}
  <p>
    <table style="text-align:left;margin-left:5px;">
  
      <tr>
        <th><label for="id_title">Theorem Title</label></th>
        <td>
          
          <input name="title" value="" class="title_input" type="text" id="title" size="80" />
        </td>
      </tr>

      <tr>
        <th><label for="body">Body</label></th>
        <td>
          <textarea id="body" rows="20" style="width:100%" name="body"></textarea>
        </td>


        <td>
        <table style="text-align:left;margin-left:10px;">
          {% for i in lemma_range %}
          <tr>
            <th><label for="id_lemma">Lemma {{i}}</label></th>
          </tr>
          <tr>
            <th>
            <select id="lemma{{i}}" name="lemma{{i}}">
              <option value="blank">--Please Select Your Lemma--</option>
              {% for theorem in theorem_list %}
              <option value="{{theorem.node_id}}"}>--{{theorem.title}}</option>
              {% endfor %}
            </select>
            </th>
          </tr>
          {% endfor %}
        </table>
        </td>


      </tr>

      <tr>
        <th><label for="id_keyword">Keywords</label></th>
        <td>
          
          <input name="keyword" value="" class="keyword_input" type="text" id="keyword" size="80" />
        </td>
      </tr>
      
      <tr>
        <th><label for="id_file1">Upload Your File Here</label></th>
        <td>
          
          <input type="file" name="file1" id="id_file1" />
        </td>
      </tr>
    </table>
  </p>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-link" href="/prooftree/"> Cancel</a>
  </div>

</form>
{% endblock content %}