<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<p>
	{% if submit %}
	Submission success! Here is the updated work:
	{% endif %}
</p>
<head>
	{% if node %}
	<title> {{node.title}} </title>
	{% else %}
	<title> Object Not Found </title>
	{% endif %}
	<script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
     <!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" /> -->
    <!-- Bootstrap CSS -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <style>
	    body {
	      margin: 18px;
	      padding: 0;
	      color: #000000;

	      font:1.35em "lucida grande","lucida sans unicode";   
	      font-size-adjust:none;
	      font-style:normal;
	      font-variant:normal;
	      font-weight:normal;
	    }
	</style>
</head>

<body>
	{% if node %}
	<div>
	<h2> {{node.title}} </h2>
	<p> {% if follow == 2 %}
		<a class="btn btn-default" href="/prooftree/follow/{{node.node_id}}/">follow</a>
		{% elif follow == 1 %}
		<a class="btn btn-default" href="/prooftree/unfollow/{{node.node_id}}/">unfollow</a>
		{% endif %}
	</p>

	<p> {{node.statement}} </p>
	<p> published at {{node.pub_time}}, by {% if author %}<a href="/prooftree/user/{{author.id}}">{{author.username}}</a> {% else %}Anonymous{% endif %} </p>
	<p> last modified at {{node.last_modified}}, by {% if last_editor %}<a href="/prooftree/user/{{last_editor.id}}">{{last_editor.username}}</a> {% else %}Anonymous{% endif %}</p>
	<h3 style="color:black;"> Keywords: </h3>
	<p> {% for kw in keywords %}
		<a class="btn btn-link" href="/prooftree/keyword/{{kw.kw_id}}">{{kw.word}}</a> &nbsp;
		{% endfor %}
	</p>
	{% endif %}

	{% if theorem %}
	<p> This article is a proof of theorem <a href="/prooftree/get/one/{{theorem.node_id}}"> {{theorem.title}} </a></p>
	{% endif %}
	{% if proofs %}
	<h3> Proofs </h3>
	<ul class="glass">
		{% for proof in proofs %}
		<li><a href="/prooftree/get/one/{{proof.node_id}}" > {{proof.title}} </a></li>
	{% endfor %}
    </ul>
	{% endif %}

	{% if dependencies %}
	<h3> Lemmas </h3>
	{% for dep in dependencies %}
	<div>
	<ul class="glass">
	<li> <a href="/prooftree/get/one/{{dep.node_id}}"> {{dep.title}} </a></li>
	</ul>
	</div>
	{% endfor %}
	{% endif %}

    
	</div>
	<p><a class="btn btn-primary" href="/prooftree/">Home</a>  &nbsp; &nbsp; <a class="btn btn-default" href="/prooftree/change/{{node.node_id}}">edit</a> &nbsp; &nbsp;
	 <a class="btn btn-danger" href="/prooftree/delete/one/{{node.node_id}}">delete</a></p>

</body>

</html>