{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<p>
	{% if submit %}
	Submission success! Here is the updated work:
	{% endif %}
</p>
<head>
	{% if node %}
	<title> {{node.title}} </title>
	{% else %}
	<title> Object Not Found </title>
	{% endif %}
	<script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
</head>

<body>
	{% if node %}
	<div>
	<h2> {{node.title}} </h2>
	<p> {{node.statement}} </p>
	<p> published at {{node.pub_time}} </p>
	<p> <a class="btn" href="/prooftree/delete/one/{{node.node_id}}"><button>delete</button></a> &nbsp; <a  class="btn" href="/prooftree/change/{{node.node_id}}"><button>edit</button></a></p>
	</div>
	{% endif %}

	{% if theorem %}
	<p> This article is a proof of theorem <a href="/prooftree/get/one/{{theorem.node_id}}"> {{theorem.title}} </a></p>
	{% endif %}
	{% if proofs %}
	<h3> Proofs </h3>
	<ul class="glass">
		{% for proof in proofs %}
		<li><a href="/prooftree/get/one/{{proof.node_id}}" > {{proof.title}} </a></li>
	{% endfor %}
    </ul>
	{% endif %}

	{% if dependencies %}
	<h3> Lemmas </h3>
	{% for dep in dependencies %}
	<div>
	<ul class="glass">
	<li> <a href="/prooftree/get/one/{{dep.node_id}}"> {{dep.title}} </a></li>
	</ul>
	</div>
	{% endfor %}
	{% endif %}


	<p><a class="btn" href="/prooftree/"><button> Home</button></a></p>

</body>

</html>