{% extends "base.html" %}
{% block extra_head %}
<title>Social Math</title>
<link href="{{ STATIC_URL }}css/force.css" rel="stylesheet">
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({skipStartupTypeset: true });
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>

<script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js">
</script>
{% endblock extra_head %}

{% block content %}
<div class="container content" ng-app="ProoftreeApp">
<!--     <header 
        class="container"
        ng-controller="UserCtrl">
        <nav class="top-bar" data-topbar>
            <div align="right">
                {% if user %}
                Welcome, <a href="/prooftree/self/">{{user.username}}</a>! | 
                <a href="/prooftree/logout/0/">logout</a>
                {% else %}
                <a href="/prooftree/login/0/">login</a> | 
                <a href="/prooftree/signup/0/">signup</a>
                {% endif %}
            </div>
        </nav>
    </header> -->
    <div ui-view><h1>Loading...</h1></div>
</div>
{% endblock content %}

{% block extra_javascript %}
<!-- D3.js -->
<script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>

<script src="{{ STATIC_URL }}js/draggable.js"></script>
<script src="{{ STATIC_URL }}js/app.js"></script>
{% endblock extra_javascript %}
