<!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" /> -->
<!-- Bootstrap CSS -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Social Math</title>
</head>

<body>
  <nav class="top-bar" data-topbar>
  <div align="right">
      {% if user %}
      Welcome, <a href="/prooftree/self/">{{user.username}}</a>! | 
      <a href="/prooftree/logout/0/">logout</a>
      {% else %}
      <a href="/prooftree/login/0/">login</a> | 
      <a href="/prooftree/signup/0/">signup</a>
      {% endif %}
    </ul>
  </div>
  </nav>
  {% if graph %}
  <h1> {{graph.name}} </h1>

  <form action="/prooftree/search/" method="get">
    <input type="text" name="searchtext" value="{{search}}" id="searchtext" size="40" />
    <input type="submit" value="Search" />
  </form>
  <p> {{graph.description}} </p>
  {% if latest_theorem_list %}
  <p> Here are the latest works that have recently been added to the {{graph.name}} knowledge graph. </p>
  <ul class="check">
    {% for theorem in latest_theorem_list %}
      <li><a href="/prooftree/get/one/{{theorem.node_id}}/"> {{theorem.title}} </a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p> There are no recent works added to the SocialMath knowledge graph. </p>
  {% endif %}

  <p><h5><a href="/prooftree/add_pn/{{graph.pgraph_id}}/1/"> Add a new theorem </a><h5></p>
  <p><h5><a href="/prooftree/add_pn/{{graph.pgraph_id}}/2/"> Add a new article or proof </a><h5></p>
  <p><h5><a href="/prooftree/del_graph/{{graph.pgraph_id}}/">Delete the graph</a><h5></p>
  {% endif %}

</body>

</html>