{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>{{search}} - Social Math Search</title>
</head>

<body>
  <h2> <a href="/prooftree/">Social Math </a> </h2>
  <form action="/prooftree/search/" method="get">
    <input type="text" name="searchtext" value="{{search}}" id="searchtext" size="40" />
    <input type="submit" value="Search" />
  </form>

  {% if numresults == 0 %}
  <p> Your search <b>{{searchtext}}</b> returns no results. </p>
  {% else %}
  <p> Your search <b>{{searchtext}}</b> returns {{numresults}} results. </p>
  <ul class="check">
    {% for node in nodes %}
      <li><a href="/prooftree/get/one/{{ node.node_id }}/"> {{ node.title }} </a></li>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;Publicated at {{node.pub_time}}</p>
    {% endfor %}
  </ul>
  {% endif %}
<p>
<a class="btn" href="/prooftree/"> <button>home</button> </a>
</p>
</body>

</html>