body {
	margin: 15px;
	padding: 0;
	background: #FFFFFB;
	color: #000000;

	font:1em/1.625em "lucida grande","lucida sans unicode";   
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
}

h1, h2, h3 {
	margin-top: 0.5em;
	color: #0153B4;
}

h1 {
	font-size: 2.125em; margin-bottom: 0.765em;
}

h2 {
	font-size: 1.9em;  margin-bottom: 0.855em;
}

h3 {
	font-size: 1.55em;  margin-bottom: 0.956em;
}

h4 { 
	font-size: 1.4em;  margin-bottom: 1.161em; 
}

h5{ 
	font-size: 1.0em;  margin-bottom: 0em; 
}
 


ul.check {
	list-style-image: url(images/check.jpg);
}
ul.glass {
	list-style-image:url(images/magnifying-glass.png);
}

ul li {
    padding: 2px;
    font-size: 1.11em; 
}


a {
	text-decoration: none;
	border-bottom: 1px dashed #CCCCCC;
	color: #0153B4;
}

a:hover {
	border-bottom: none;
}

a:visited {
	color:#A52A2A;
}

